[submodule "runtime/LPG-cpp-runtime"]
	path = runtime/LPG-cpp-runtime
	url = https://github.com/kuafuwang/LPG-cpp-runtime
[submodule "runtime/LPG-csharp-runtime"]
	path = runtime/LPG-csharp-runtime
	url = https://github.com/kuafuwang/LPG-csharp-runtime
[submodule "runtime/lpg-runtime"]
	path = runtime/lpg-runtime
	url = https://github.com/kuafuwang/lpg-runtime
[submodule "tool/LPG-language-server"]
	path = tool/LPG-language-server
	url = https://github.com/kuafuwang/LPG-language-server
[submodule "tool/LPG-VScode"]
	path = tool/LPG-VScode
	url = https://github.com/kuafuwang/LPG-VScode
[submodule "grammars-example"]
	path = grammars-example
	url = https://github.com/kuafuwang/LPG2-grammars-example
